body {
    font-family: Arial, sans-serif;
    padding: 20px;
    background-color: #f9f9f9;
}

#game {
    text-align: center;
    margin-top: 20px;
}

#options {
    display: flex;
    justify-content: center;
    gap: 10px;
}

button {
    padding: 10px;
    margin-top: 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}
