:root {
    --font-stack: Helvetica, Arial, sans-serif;
    --background-color: #f3f3f3;
    --text-color: #333;
    --link-color: #4CAF50;
    --link-color-hover: #45a049;
    --border-color: #dee2e6;
    --button-background: #4CAF50;
    --button-background-hover: #45a049;
}

body {
    font-family: var(--font-stack);
    max-width: 1200px;
    margin: auto;
    padding: 20px;
    background-color: var(--background-color);
    color: var(--text-color);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20px;
    border-bottom: 1px solid var(--border-color);
}

header h1 {
    margin: 0;
    font-size: 34px;
}

header nav a {
    font-size: 18px;
    font-weight: 600;
    margin-left: 20px;
    text-decoration: none;
    color: var(--link-color);
    transition: color 0.3s ease;
}

header nav a:hover {
    color: var(--link-color-hover);
}

#game {
    text-align: center;
    margin-top: 20px;
}

#grid {
    position: relative;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    margin-bottom: 20px;
    height: 300px;
}

#grid-background {
    position: absolute;
    inset: 0;
    background: url('img/background.jpg') no-repeat center center / cover;
    z-index: -1;
}

#player,
#beast {
    height: 216px;
    width: 268px;
}

#beast {
    grid-column: 1;
    background: url('img/dinosaur.png') center/cover;
}

#player {
    grid-column: 5;
    background: url('img/wolf.png') center/cover;
}

#options {
    display: flex;
    justify-content: center;
    gap: 10px;
}

button {
    padding: 20px;
    margin-top: 20px;
    font-size: 26px;
    background-color: var(--button-background);
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 0.25rem;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: var(--button-background-hover);
}
